[Desktop Entry]
Encoding=UTF-8
Name=Link to Consume RESTful API Endpoints Within A Golang Application
Type=Link
URL=https://www.thepolyglotdeveloper.com/2017/07/consume-restful-api-endpoints-golang-application/
Icon=text-html
